.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 32px 100px;
}

.logo_icon {
    display: flex;
}

.logo_icon a > img{
    height: 64px;
    width: 165px;
}
