@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poller+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  color: #fff ;
}
body {
  height: 100%;
  background-color: #0E1015;
  font-family: 'Krona One', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #787B81;
}

body::-webkit-scrollbar-thumb {
  background-color: #FF003F;
}

footer {
  bottom: 0;
  right: 0;
} 