@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poller+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Krona One;
  background-color: #0E1015;
  color: #fff ;
}
body {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
} 