.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;
}

.game_name_ratings {
    width: 70%;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    justify-content: center;
}


.container_ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_ratings > h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: Krona One;
    color: #fff;

}

.notes {
    display: flex;
    align-items: center;
    font-family: Krona One;
    font-size: 18px;
    color: #fff;
}

.notes_lower {
    color: gray;
    font-weight: 400;
}

.star-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    gap: 8px ;
    cursor: pointer;
}

.notes_lower {
    font-size: 16px; /* Ajuste o tamanho do texto após a barra */
}